# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: inazaria <inazaria@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/05/01 21:05:03 by inazaria          #+#    #+#              #
#    Updated: 2024/06/07 15:16:09 by inazaria         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Dev env files
**.vscode/
**.cache/
**compile_commands.json

# Test Files
***.txt

# Valgrind Files
**vgcore.*

# Project related files
fdf
fdf_official
***.o
***.out
***.a
